* {box-sizing:border-box}

body {margin: 0;
    background-image: url(../image/vert.png);
    background-size: 900px;
}
html, body {scroll-behavior: smooth;}

/* HEADER */
.header {display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding: 5px;
    background-color: rgb(132, 142, 172);
    }
    .titros {font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:5px;
    justify-content: center;
    color:rgb(119, 17, 17)
    }
    .name {color: rgb(185, 29, 29);
    text-shadow: 0 0 2px #fc5757;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;}
    
    ul {margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    }
    
    li {list-style-type: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
    
    .header a {text-decoration: none;
    color: #e7e776;}
    li a:hover {color: rgb(185, 29, 29);}
    
    .dropdown-recipes {
        display: none;
        position: absolute;
    padding: 15px 10px 0;
    background-color: rgb(132, 142, 172)}
    #drop-recipes:hover .dropdown-recipes {display: flex;
    flex-direction: column;
    }
    .drop-elements {margin-bottom: 10px;
    color: #f3f3e5;}
    .drop-elements:hover {color: black}

    /* PATH */
.path {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 18px;
margin: 10px 222px;}
.path-link {color: black;
}
.path-link:hover {color: rgb(185, 29, 29);}
.path-recipe {text-decoration: underline;
}

/* DESERT */
.section-recipe {background-color: rgb(228, 222, 175);
margin: 40px 200px;
padding: 20px;
font-size: 35px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pic-category img {width:150px;
height: 150px;
object-fit: cover;
}
.category-section {display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 44px;
    text-align: center;
}
.section-recipe a {text-decoration: none;
color: black;
font-weight: bold;
}
.title {background-color:#f3f3e5;
padding: 5px;
display:inline-block;}
.category a {color: rgb(185, 29, 29);
}


.category:hover {text-shadow: rgb(185, 29, 29) 0 0 5px;}

/* VEGAN */
    .vegan {background-color: rgb(179, 228, 175);}