* {box-sizing:border-box}

body {padding:50px;
    background-image: url(image/collage.jpg);
background-attachment: fixed;
background-repeat: repeat;
background-size: 850px;}

.top {display: flex;
justify-content:space-between;
gap:50px}

.infocard, .presentation {background-size: 100px;
    background: url(image/cakefonce.jpg);}

.infocard {width:500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding:25px;
color: rgb(185, 29, 29);}

#ama {display: flex;
flex-direction: column;
justify-content: flex-start;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight:100;
font-size: 35px;}

.presentation {
flex-grow: 1;
padding: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.presentation h1 {color: rgb(185, 29, 29);
font-size: 35px;}

img {width: 200px;
border-radius: 100%;}


h1 {margin: 0;}


h2 {font-family: Arial, Helvetica, sans-serif;
color: #B2B4A8;
text-shadow: white 0 0 2px;
font-size: 33px;
margin-top: 0;
text-align: center;}

.list {margin:0;
padding: 0;}

li {list-style-type: none;
margin: 5px;
text-align: center;}

a {text-decoration: none;
color: #B2B4A8;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
padding:2px;}

a:hover {background-color: #000000;
transition: 0.5s;
text-shadow: white 0 0 5px;}

.link {
background-color: #702636;
border:5px solid black;
margin: 50px auto 0;
max-width: 350px;
padding:20px;
border-radius: 10%;}

