* {box-sizing:border-box}

body {margin: 0;
background-image: url(image/spiral.png);
background-size: 450px;
background-attachment: fixed;}


/* header */
.header {display: flex;
justify-content: space-between;
align-items: center;
padding: 25px 150px;
background-color: rgb(10, 10, 10);
}

.name {color: rgb(185, 29, 29);
text-shadow: 0 0 2px #fc5757;
font-size: 40px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;}

ul {margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;}

li {list-style-type: none;
font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

a {text-decoration: none;
color: rgb(236, 236, 236);}
a:hover {color: rgb(185, 29, 29);}

.dropdown-recipes {
    display: none;
    position: absolute;
padding: 15px 10px 0;
background-color: rgb(185, 29, 29);}
#drop-recipes:hover .dropdown-recipes {display: flex;
flex-direction: column;
}
.drop-elements {margin-bottom: 10px;
color: rgb(236, 236, 236);}
.drop-elements:hover {color: rgb(200, 188, 247)}



/* intro recipes */

.recipes-intro {background-color: rgb(10, 10, 10);
margin-top: 500px;
display: flex;
flex-direction: column;
}

.gif {width: 150px;
}
.intro-gif {display: flex;
justify-content: space-between;
align-items: center;
color: rgb(236, 236, 236);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 25px 150px;
}
.intro {display: flex;
flex-direction: column;
justify-content: center;
align-self: center;
}
.title-intro {font-size: 35px;
align-self: flex-start;
}
.text-intro {font-size: 30px;
text-align: justify;
}

.photo-link {width: 150px;
height: 150px;
}
.recipe-selection {display: flex;
justify-content: space-between;
align-items: center;
margin: 0 200px 25px;
background-image: url(image/vert.png);
background-size: 400px;
padding: 20px;
}
.link-recipe {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;
color: rgb(236, 236, 236);
font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.title-link {background-color: rgb(10, 10, 10);
padding: 5px;
}

.all-recipe {align-self: center;
font-size: 35px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 25px 150px;}
